/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1, h2, h3 {
    margin: 0;
    padding: 0;
  }
  

  /* Navigation Styles */
  nav {
    background-color: #555;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s;
  }
  
  nav a:hover {
    background-color: #777;
  }
  
  nav a.active {
    background-color: #333;
  }
  
  /* Main Content Styles */
  main {
    padding: 20px;
  }
  
  section {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
  }
  
  h2 {
    color: #333;
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  p {
    color: #666;
    font-size: 1.2em;
    margin-bottom: 0;
  }
  
  
  .card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    flex: 0 0 calc(33.33% - 20px);
    margin: 10px;
    padding: 10px;
    background-color: #f2f2f2;
    text-align: center;
    transition: transform 0.3s;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .livre h3 {
    margin: 0;
  }
  
  .livre p {
    margin: 0;
    color: #888;
  }
  